<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>检测与识别</string>
		<key>type</key>
		<integer>0</integer>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>人脸检测</string>
				<key>icon</key>
				<string>demo_icon_face_detection</string>
			</dict>
			<dict>
				<key>name</key>
				<string>人体检测</string>
				<key>icon</key>
				<string>demo_icon_human_detection</string>
			</dict>
			<dict>
				<key>name</key>
				<string>表情识别</string>
				<key>icon</key>
				<string>demo_icon_face_recognition</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手势识别</string>
				<key>icon</key>
				<string>demo_icon_gesture_recognition</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>美肤</string>
		<key>type</key>
		<integer>1</integer>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>精细磨皮</string>
				<key>icon</key>
				<string>精细磨皮</string>
				<key>value</key>
				<integer>70</integer>
				<key>key</key>
				<string>skin</string>
				<key>defaultValue</key>
				<integer>70</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>美白</string>
				<key>icon</key>
				<string>美白</string>
				<key>value</key>
				<integer>30</integer>
				<key>key</key>
				<string>white</string>
				<key>defaultValue</key>
				<integer>30</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>红润</string>
				<key>icon</key>
				<string>红润</string>
				<key>value</key>
				<integer>30</integer>
				<key>key</key>
				<string>red</string>
				<key>defaultValue</key>
				<integer>30</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>锐化</string>
				<key>icon</key>
				<string>锐化</string>
				<key>value</key>
				<integer>70</integer>
				<key>key</key>
				<string>sharpen</string>
				<key>defaultValue</key>
				<integer>70</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>亮眼</string>
				<key>icon</key>
				<string>亮眼</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>lighteye</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>美牙</string>
				<key>icon</key>
				<string>美牙</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>teeth</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>去黑眼圈</string>
				<key>icon</key>
				<string>去黑眼圈</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>blackeye</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>去法令纹</string>
				<key>icon</key>
				<string>去法令纹</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>ade</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>美型</string>
		<key>type</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>瘦脸</string>
				<key>icon</key>
				<string>瘦脸</string>
				<key>value</key>
				<integer>40</integer>
				<key>key</key>
				<string>thinface</string>
				<key>defaultValue</key>
				<integer>40</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>V脸</string>
				<key>icon</key>
				<string>vface</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>vface</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>窄脸</string>
				<key>icon</key>
				<string>窄脸</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>naface</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>小脸</string>
				<key>icon</key>
				<string>小脸</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>smallface</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>瘦颧骨</string>
				<key>icon</key>
				<string>瘦颧骨</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>thincheekbone</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>瘦下颌骨</string>
				<key>icon</key>
				<string>瘦下颌骨</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>thinmandible</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>大眼</string>
				<key>icon</key>
				<string>大眼</string>
				<key>value</key>
				<integer>40</integer>
				<key>key</key>
				<string>bigeye</string>
				<key>defaultValue</key>
				<integer>40</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>圆眼</string>
				<key>icon</key>
				<string>圆眼</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>circleeye</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>下巴</string>
				<key>icon</key>
				<string>下巴</string>
				<key>value</key>
				<integer>30</integer>
				<key>key</key>
				<string>chin</string>
				<key>defaultValue</key>
				<integer>30</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>额头</string>
				<key>icon</key>
				<string>额头</string>
				<key>value</key>
				<integer>30</integer>
				<key>key</key>
				<string>forehead</string>
				<key>defaultValue</key>
				<integer>30</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>瘦鼻</string>
				<key>icon</key>
				<string>瘦鼻</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>thinnose</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>嘴型</string>
				<key>icon</key>
				<string>嘴型</string>
				<key>value</key>
				<integer>40</integer>
				<key>key</key>
				<string>mouth</string>
				<key>defaultValue</key>
				<integer>40</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>开眼角</string>
				<key>icon</key>
				<string>开眼角</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>openeye</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>眼距</string>
				<key>icon</key>
				<string>眼距</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>eyedis</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>眼睛角度</string>
				<key>icon</key>
				<string>眼睛角度</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>eyerid</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>长鼻</string>
				<key>icon</key>
				<string>长鼻</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>longnose</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>缩人中</string>
				<key>icon</key>
				<string>缩人中</string>
				<key>value</key>
				<integer>50</integer>
				<key>key</key>
				<string>shrinking</string>
				<key>defaultValue</key>
				<integer>50</integer>
				<key>valueType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>微笑嘴角</string>
				<key>icon</key>
				<string>微笑嘴角</string>
				<key>value</key>
				<integer>0</integer>
				<key>key</key>
				<string>smile</string>
				<key>defaultValue</key>
				<integer>0</integer>
				<key>valueType</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>滤镜</string>
		<key>type</key>
		<integer>3</integer>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>自然1</string>
				<key>type</key>
				<integer>51</integer>
				<key>icon</key>
				<string>ziran1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然2</string>
                <key>type</key>
                <integer>52</integer>
				<key>icon</key>
				<string>ziran2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然3</string>
                <key>type</key>
                <integer>53</integer>
				<key>icon</key>
				<string>ziran3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然4</string>
                <key>type</key>
                <integer>54</integer>
				<key>icon</key>
				<string>ziran4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然5</string>
                <key>type</key>
                <integer>55</integer>
				<key>icon</key>
				<string>ziran5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然6</string>
                <key>type</key>
                <integer>56</integer>
				<key>icon</key>
				<string>ziran6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然7</string>
                <key>type</key>
                <integer>57</integer>
				<key>icon</key>
				<string>ziran7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>自然8</string>
                <key>type</key>
                <integer>58</integer>
				<key>icon</key>
				<string>ziran8</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰1</string>
                <key>type</key>
                <integer>60</integer>
				<key>icon</key>
				<string>zhiganhui1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰2</string>
                <key>type</key>
                <integer>61</integer>
				<key>icon</key>
				<string>zhiganhui2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰3</string>
                <key>type</key>
                <integer>62</integer>
				<key>icon</key>
				<string>zhiganhui3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰4</string>
                <key>type</key>
                <integer>63</integer>
				<key>icon</key>
				<string>zhiganhui4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰5</string>
                <key>type</key>
                <integer>64</integer>
				<key>icon</key>
				<string>zhiganhui5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰6</string>
                <key>type</key>
                <integer>65</integer>
				<key>icon</key>
				<string>zhiganhui6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰7</string>
                <key>type</key>
                <integer>66</integer>
				<key>icon</key>
				<string>zhiganhui7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>质感灰8</string>
                <key>type</key>
                <integer>67</integer>
				<key>icon</key>
				<string>zhiganhui8</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃1</string>
                <key>type</key>
                <integer>68</integer>
				<key>icon</key>
				<string>mitao1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃2</string>
                <key>type</key>
                <integer>69</integer>
				<key>icon</key>
				<string>mitao2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃3</string>
                <key>type</key>
                <integer>70</integer>
				<key>icon</key>
				<string>mitao3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃4</string>
                <key>type</key>
                <integer>71</integer>
				<key>icon</key>
				<string>mitao4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃5</string>
                <key>type</key>
                <integer>72</integer>
				<key>icon</key>
				<string>mitao5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃6</string>
                <key>type</key>
                <integer>73</integer>
				<key>icon</key>
				<string>mitao6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃7</string>
                <key>type</key>
                <integer>74</integer>
				<key>icon</key>
				<string>mitao7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>蜜桃8</string>
                <key>type</key>
                <integer>75</integer>
				<key>icon</key>
				<string>mitao8</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮1</string>
                <key>type</key>
                <integer>1</integer>
				<key>icon</key>
				<string>bailiang1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮2</string>
                <key>type</key>
                <integer>2</integer>
				<key>icon</key>
				<string>bailiang2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮3</string>
                <key>type</key>
                <integer>3</integer>
				<key>icon</key>
				<string>bailiang3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮4</string>
                <key>type</key>
                <integer>4</integer>
				<key>icon</key>
				<string>bailiang4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮5</string>
                <key>type</key>
                <integer>5</integer>
				<key>icon</key>
				<string>bailiang5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮6</string>
                <key>type</key>
                <integer>6</integer>
				<key>icon</key>
				<string>bailiang6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>白亮7</string>
                <key>type</key>
                <integer>7</integer>
				<key>icon</key>
				<string>bailiang7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩1</string>
                <key>type</key>
                <integer>8</integer>
				<key>icon</key>
				<string>fennen1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩2</string>
                <key>type</key>
                <integer>9</integer>
				<key>icon</key>
				<string>fennen2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩3</string>
                <key>type</key>
                <integer>10</integer>
				<key>icon</key>
				<string>fennen3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩5</string>
                <key>type</key>
                <integer>12</integer>
				<key>icon</key>
				<string>fennen5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩6</string>
                <key>type</key>
                <integer>13</integer>
				<key>icon</key>
				<string>fennen6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩7</string>
                <key>type</key>
                <integer>14</integer>
				<key>icon</key>
				<string>fennen7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>粉嫩8</string>
                <key>type</key>
                <integer>15</integer>
				<key>icon</key>
				<string>fennen8</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调1</string>
                <key>type</key>
                <integer>31</integer>
				<key>icon</key>
				<string>lengsediao1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调2</string>
                <key>type</key>
                <integer>32</integer>
				<key>icon</key>
				<string>lengsediao2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调3</string>
                <key>type</key>
                <integer>33</integer>
				<key>icon</key>
				<string>lengsediao3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调4</string>
                <key>type</key>
                <integer>34</integer>
				<key>icon</key>
				<string>lengsediao4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调7</string>
                <key>type</key>
                <integer>37</integer>
				<key>icon</key>
				<string>lengsediao7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调8</string>
                <key>type</key>
                <integer>38</integer>
				<key>icon</key>
				<string>lengsediao8</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>冷色调11</string>
                <key>type</key>
                <integer>41</integer>
				<key>icon</key>
				<string>lengsediao11</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>暖色调1</string>
                <key>type</key>
                <integer>42</integer>
				<key>icon</key>
				<string>nuansediao1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>暖色调2</string>
                <key>type</key>
                <integer>43</integer>
				<key>icon</key>
				<string>nuansediao2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性1</string>
                <key>type</key>
                <integer>16</integer>
				<key>icon</key>
				<string>gexing1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性2</string>
                <key>type</key>
                <integer>17</integer>
				<key>icon</key>
				<string>gexing2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性3</string>
                <key>type</key>
                <integer>18</integer>
				<key>icon</key>
				<string>gexing3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性4</string>
                <key>type</key>
                <integer>19</integer>
				<key>icon</key>
				<string>gexing4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性5</string>
                <key>type</key>
                <integer>20</integer>
				<key>icon</key>
				<string>gexing5</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性7</string>
                <key>type</key>
                <integer>22</integer>
				<key>icon</key>
				<string>gexing7</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性10</string>
                <key>type</key>
                <integer>25</integer>
				<key>icon</key>
				<string>gexing10</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>个性11</string>
                <key>type</key>
                <integer>59</integer>
				<key>icon</key>
				<string>gexing11</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>小清新1</string>
                <key>type</key>
                <integer>45</integer>
				<key>icon</key>
				<string>xiaoqingxin1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>小清新3</string>
                <key>type</key>
                <integer>47</integer>
				<key>icon</key>
				<string>xiaoqingxin3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>小清新4</string>
                <key>type</key>
                <integer>48</integer>
				<key>icon</key>
				<string>xiaoqingxin4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>小清新6</string>
                <key>type</key>
                <integer>50</integer>
				<key>icon</key>
				<string>xiaoqingxin6</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>黑白1</string>
                <key>type</key>
                <integer>26</integer>
				<key>icon</key>
				<string>heibai1</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>黑白2</string>
                <key>type</key>
                <integer>27</integer>
				<key>icon</key>
				<string>heibai2</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>黑白3</string>
                <key>type</key>
                <integer>28</integer>
				<key>icon</key>
				<string>heibai3</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>黑白4</string>
                <key>type</key>
                <integer>29</integer>
				<key>icon</key>
				<string>heibai4</string>
				<key>value</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>贴纸</string>
		<key>type</key>
		<integer>4</integer>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>nihongdeng</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>CatSparks</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>rabbit</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>DaisyPig</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>sdlu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>人像分割</string>
		<key>type</key>
		<integer>5</integer>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>boyfriend1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>boyfriend2</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>boyfriend3</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>gufeng_zh_fu_mp</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>hez_ztt_fu_mp</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ice_lm_fu_mp</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>sea_lm_fu_mp</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>xiandai_ztt_fu_mp</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
