<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgoraWithFaceUnity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FaceUnityExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FaceUnityExtenstion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E7492A125184A1F00CA5E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E7492BC25184A2100CA5E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E7492C725184A2100CA5E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E32E9AD7260DE907000D72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
